<?xml version="1.0"?>
<!--
/**
 * Panth ProductSlider Module Configuration
 *
 * @package Panth_ProductSlider
 * @author Panth
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Panth_ProductSlider">
        <sequence>
            <module name="Panth_Core"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Widget"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
